
body {
  background-color: #282c34;
  min-height: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}
#root {
  background-color: #282c34;
}

  
@media (prefers-reduced-motion: no-preference) {
  .horizontal-animation {
    animation: App-logo-horizontal-movement infinite 9s ease-in-out;
  }
  .vertical-animation {
    animation: App-logo-vertical-movement infinite 5s ease-in-out;
  }
}

@keyframes App-logo-horizontal-movement {
  0% {
    transform: translateX(34px);
  }
  22% {
    transform: translateX(-40px);
  }
  55% {
    transform: translateX(55px);
  }
  79% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(34px);
  }
}

@keyframes App-logo-vertical-movement {
  0% {
    transform: translateY(15px);
  }
  21% {
    transform: translateY(-24px);
  }
  45% {
    transform: translateY(29px);
  }
  82% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(15px);
  }
}


.question-box {
  position: relative;
}
.question-box h5 {
  position: relative;
  background-color: #000000;
  border: 2px solid #00aaaa;
  padding: 6px 30px;
  border-radius: 50px;
  margin: 0 50px;
}
.question-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00aaaa;
  top: calc(50% - 1px);
}

.answer-box {
  position: relative;
}
.answer-box > div {
  position: relative;
  background-color: #000000;
  border: 2px solid #00aaaa;
  padding: 6px 30px;
  border-radius: 50px;
  margin: 0 50px;
  cursor: pointer;
}
.answer-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00aaaa;
  top: calc(50% - 1px);
}
.answer-box.active > div {
  background-color: #b50;
  color: #000;
}
.answer-box.wrong > div {
  background-color: #900;
  color: #000;
}
.answer-box.correct > div {
  background-color: #090;
  color: #000;
}
